/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

/* Professor */

div.professor_profile {
  margin-bottom: 0;
  padding-bottom: 0;
}

.professor_profile > img {
  margin: 0 15px 15px auto;
  float: left !important;
}

.professor_profile > div {
  float: left;
}

.professor_profile h2 {
  margin-top: 0;
  line-height: 35px;
  margin-left: 125px;
}

.professor_profile ul {
  margin-left: 0;
  margin-right: 40px;
  float: left;
  display: inline;
  list-style: none;

  font-size: 14px;
}

.professor_profile.coordinator ul {
  font-size: 12px;
}

.professor_profile .dropbox_button {
  float: left;
  display: inline;
  list-style: none;
}

/* Navigation */

ul.dropdown-menu form {
  text-align: center;
  width: auto;
  margin: 10px;
}

ul.dropdown-menu.with-thumb li img {
  margin-right: 5px;
}

/* Algorich */

.alg_logo {
    display: block;
    float: right;

    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    text-align: right;
}

/* breadbran */

p.breadbran {
  color: lightgray;
  font-size: 18px;
}

/* Bootstrap override */

i.icon-chevron-right {
  margin-right: 5px;
}

.accordion-group {
  background-color: #fff;
}

div:after, ol:after, form:after, ul:after, dl:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}