/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.professor {
  border: 1px solid #ddd;
  background-color: #EDEDED;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
}

.professor h3 {
  margin: 0;
  padding: 0;
}

.professor .info {
  float: left
}

.professor .info p img {
  border: 5px solid #831A52;
  border-radius: 4px;
  margin: 12px 15px 5px 0px;
}

.professor .info ul {
  margin: 0;
  padding: 0;
}

.professor .info ul li {
  display: inline-block;
  text-align: left;
  margin-left: 13px;
}

.professor .info ul li a {
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: -555px;
  border-radius: 34px;
}

li.linkedin_item a {
  background: #000 url('/assets/linkedin_icon.png') no-repeat center;
}

li.dropbox_item a {
  background: #000 url('/assets/dropbox_icon.png') no-repeat center;
}

li.lattes_item a {
  background: #000 url('/assets/lattes_icon.png') no-repeat center;
}

ul.social li a:hover {
  background-color: #831A52;
}

.clear {
  clear: both;
}

/* Navigation */

ul.dropdown-menu.with-thumb li a {
  display: inline;
}

ul.dropdown-menu.with-thumb li img {
  display: inline;
}
