<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou a mudança de sua senha, e isto pode ser feito através do link abaixo:</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não requisitou isso, por favor, ignore este e-mail.</p>
<p>Sua senha não mudará até que você acesse o link acima e digite uma nova senha.</p>
