<p>Olá <%= @resource.email %>!</p>

<p>Alguém fez um pedido de um link para alterar sua senha. Você pode fazer isso clicando no ink abaixo:</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não fez esse pedido, ignore este e-mail.</p>
<p>Sua senha não será alterada até que você crie uma nova.</p>
